.content{
    justify-content: space-around;
    background-color: rgb(205, 241, 255);
    align-items: center;
    width: fit-content;
    
    
  }
  .img-edit img{
    width: 150px;
    height: 150px;
    object-fit: cover;

  }
  .img-edit img:hover{
    opacity: 40%;
    
  }
  .img-edit div i{
    bottom:20px;
    position: relative;
    visibility:hidden;
    pointer-events: none;
  }
  .img-edit img:hover + div i{
   visibility: visible;
    position: relative;
    bottom:95px;
    left:20px;
  }
  .img-edit .fa{
    color:rgb(91, 93, 94);
  }
  .img-edit{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items:flex-start;
  }
  .img-edit form button{
    background-color: rgba(255, 255, 255, 0);
    border:none;

  }
  .img-edit form button:hover{
    background-color: rgba(255, 255, 255, 0);
    border:none;

  }
  .userinfo{
    width: 500px;
    height: fit-content;
  }
  .userinfo p{
    padding:10px;
    text-indent: 0.2px;
    
  }
  